fastapi[standard]   # Modern and performant API Framework
ipython
python-magic        # Detect and identify the file's mime types
pikepdf             # Based on qpdf, a PDF manipulation library
pdfminer.six        # Extract text from searchable PDFs
pytesseract         # Extract text from images
pdf2image           # Convert non-searchable PDF pages to images, provides convert_from_path. Needs Poppler
nltk                # natural language toolkit. Used for text analysis
boto3               # Need to communicate with AWS Textract service
rq                  # Redis-queue for task/worker setup
Pillow              # To perform image preprocessing before OCR. Performs grayscale conversion, denoising and binarization
opencv-contrib-python # To perfomr image preprocessing
python-Levenshtein  # Fuzzy search during classification and structured data extraction
spacy               # Production-grade NLP instead of research-oriented NLP provided by nltk
